

@model GetSliderByIdDTO





<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="SliderId" class="form-control" />
        <label>Slider Başlığı</label>
        <input type="text" asp-for="SliderTitle" class="form-control" />
        <br />
        <label>Slider Alt Başlığı</label>

        <input type="text" asp-for="SliderSubTitle" class="form-control" />
        <br />



        <label>Slider Görseli</label>
        <input type="text" asp-for="SliderImageUrl" class="form-control" />
        <br />

        <button class="btn btn-info">Güncelle</button>
    </form>
</div>

